<div class="box">
    <h2>Login</h2>
    <p>
        <label for="username">Username:</label>
        <input type="text" id="username" ng-model="userData.username" required />
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="password" id="password" ng-model="userData.password" required />
    </p>
    <p>
        <label for="confirm-password">Confirm password:</label>
        <input type="password" id="confirm-password" ng-model="userData.confirmPassword" required />
    </p>
    <p>
        <label for="name">Name:</label>
        <input type="text" id="name" ng-model="userData.name" required />
    </p>
    <p>
        <label for="email">E-mail:</label>
        <input type="text" id="email" ng-model="userData.email" required />
    </p>
    <p>
        <label for="gender">Gender:</label>
        <input type="text" id="gender" ng-model="userData.gender" required />
    </p>
    <p>
        <a ng-click="register(userData)" class="button">Register</a>
        <a href="#/login" class="link">Login</a>
    <p>
</div>